body {
    background-color: #191852;
}

.container {
    position: fixed;
    top: 80px;
    left: 0;
    width: 49%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.iniciar {
    background-color: #12d300;
    border-radius: 14px;
    font-weight: bold;
    font-size: 1rem;
    margin: 5px;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    padding: 0px 10px;
    height: 56px;
    color: #ffffff;
    display: flex;
    font-family: 'Inter', sans-serif;
    border: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.gridInterno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    max-width: 98%;
    width: 100%;
}

.areaDisponivel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 49%;
    height: 40%;
    background-color: #191852;
    border-radius: 56px 56px 0 0;
    border: 6px solid #0C0B3F;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.areaDisponivel::-webkit-scrollbar {
    display: none;
}

.view {
    border-left: 6px solid #0C0B3F;
    display: flex;
    position: fixed;
    right: 0;
    height: 100%;
    width: 50%;
}

.nome {
    position: fixed;
    top: 20px;
    left: 25%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 20;
    text-align: center;
    font-family: 'Inter';
}

.reorder-item {
    list-style: none;
}