.caixa {
  background-color: #ffffff;  
  border-radius: 14px;        
  font-weight: bold;      
  font-size: 1rem;  
  margin: 5px;       
  justify-content: center;
  align-items: center;   
  min-width: 70px; 
  padding: 0px 10px;
  height: 56px;
  color: #191852;             
  display: flex;  
  font-family: 'Inter', sans-serif; 
  cursor: grab;
   list-style: none;
  user-select: none;
}



