#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.reorder-group {
  display: flex;
  gap: 8px;
  list-style: none;
}

.caixa {
  display: flex;
  width: 200px; /* Largura da caixa */
  height: 100px; /* Altura da caixa */
  background-color: rgb(14, 134, 173); /* Cor de fundo da caixa */
  border: 3px solid rgb(255, 255, 255); /* Borda da caixa */
  justify-content: center; /* Alinha horizontalmente */
  align-items: center;
  font-size: x-large;
  cursor: grab;
}


