

.linhaCodigo {
    display: block;
    width: 1280px;
    height: 100px;
    background-color: rgb(34, 34, 34);
    border: 3px solid rgb(255, 255, 255); 
}

.caixaNalinha{
      display: flex;
}




